@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h1>Prueba de Concepto: Conexión y Escucha de Puertos</h1>

<MostrarIp />

<div class="menu-opciones">
	<h3>Opciones</h3>
	<button class="btn btn-primary">Conectar a puerto remoto</button>
	<button class="btn btn-secondary">Escuchar peticiones</button>
</div>

<!-- Aquí se agregarán más controles y lógica en los siguientes pasos -->
